
*.xcuserstate

*.xcscheme

*.xcbkptlist

AnheuserBusch.xcworkspace/xcuserdata/ProsenjitGoswami.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

AnheuserBusch.xcodeproj/xcuserdata/ProsenjitGoswami.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

AnheuserBusch.xcworkspace/xcuserdata/ProsenjitGoswami.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

AnheuserBusch.xcodeproj/xcuserdata/TPG.xcuserdatad/xcschemes/xcschememanagement.plist

AnheuserBusch.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings

Pods/Pods.xcodeproj/xcuserdata/TPG.xcuserdatad/xcschemes/xcschememanagement.plist

Pods/Pods.xcodeproj/xcuserdata/TPG.xcuserdatad/xcschemes/xcschememanagement.plist

AnheuserBusch.xcodeproj/xcuserdata/TPG.xcuserdatad/xcschemes/xcschememanagement.plist
