<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Prosenjit Goswami</string>
	<key>incentives</key>
	<array>
		<dict>
			<key>incentivename</key>
			<string>Summer Incentive</string>
			<key>rank</key>
			<string>23</string>
			<key>overAllIncentiveProgress</key>
			<string>80</string>
			<key>progresstype</key>
			<string>0</string>
			<key>minIncentiveRange</key>
			<string>0</string>
			<key>maxIncentiveRange</key>
			<string>100</string>
			<key>progressunit</key>
			<string>points</string>
			<key>statusTitle</key>
			<string>Good!!</string>
			<key>kpis</key>
			<array>
				<dict>
					<key>name</key>
					<string>% of Micro</string>
					<key>progress</key>
					<integer>91</integer>
					<key>progresstype</key>
					<integer>0</integer>
					<key>minprogress</key>
					<integer>0</integer>
					<key>maxprogress</key>
					<integer>100</integer>
					<key>progressunit</key>
					<string>%</string>
				</dict>
				<dict>
					<key>name</key>
					<string>He SAP</string>
					<key>progress</key>
					<real>1.5</real>
					<key>progresstype</key>
					<integer>1</integer>
					<key>minprogress</key>
					<integer>1</integer>
					<key>maxprogress</key>
					<integer>2</integer>
					<key>progressunit</key>
					<string>k</string>
				</dict>
				<dict>
					<key>name</key>
					<string>FMB SAP</string>
					<key>progress</key>
					<real>0.8</real>
					<key>progresstype</key>
					<integer>1</integer>
					<key>minprogress</key>
					<integer>1</integer>
					<key>maxprogress</key>
					<integer>2</integer>
					<key>progressunit</key>
					<string>k</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Ultra Distributation</string>
					<key>progress</key>
					<integer>62</integer>
					<key>progresstype</key>
					<integer>0</integer>
					<key>progressunit</key>
					<string>%</string>
					<key>minprogress</key>
					<integer>0</integer>
					<key>maxprogress</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>incentivename</key>
			<string>Hi-5 Incentive</string>
			<key>rank</key>
			<string>45</string>
			<key>overAllIncentiveProgress</key>
			<string>80</string>
			<key>progresstype</key>
			<string>0</string>
			<key>minIncentiveRange</key>
			<string>0</string>
			<key>maxIncentiveRange</key>
			<string>100</string>
			<key>progressunit</key>
			<string>points</string>
			<key>statusTitle</key>
			<string>Way to go!!</string>
			<key>kpis</key>
			<array>
				<dict>
					<key>name</key>
					<string>% of Micro</string>
					<key>progress</key>
					<integer>91</integer>
					<key>progresstype</key>
					<integer>0</integer>
					<key>minprogress</key>
					<integer>0</integer>
					<key>maxprogress</key>
					<integer>100</integer>
					<key>progressunit</key>
					<string>%</string>
				</dict>
				<dict>
					<key>name</key>
					<string>He SAP</string>
					<key>progress</key>
					<real>1.5</real>
					<key>progresstype</key>
					<integer>1</integer>
					<key>minprogress</key>
					<integer>1</integer>
					<key>maxprogress</key>
					<integer>2</integer>
					<key>progressunit</key>
					<string>k</string>
				</dict>
				<dict>
					<key>name</key>
					<string>FMB SAP</string>
					<key>progress</key>
					<real>0.8</real>
					<key>progresstype</key>
					<integer>1</integer>
					<key>minprogress</key>
					<integer>1</integer>
					<key>maxprogress</key>
					<integer>2</integer>
					<key>progressunit</key>
					<string>k</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Ultra Distributation</string>
					<key>progress</key>
					<integer>62</integer>
					<key>progresstype</key>
					<integer>0</integer>
					<key>progressunit</key>
					<string>%</string>
					<key>minprogress</key>
					<integer>0</integer>
					<key>maxprogress</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>incentivename</key>
			<string>Incentive 2</string>
			<key>rank</key>
			<string>60</string>
			<key>overAllIncentiveProgress</key>
			<string>56</string>
			<key>progresstype</key>
			<string>0</string>
			<key>minIncentiveRange</key>
			<string>0</string>
			<key>maxIncentiveRange</key>
			<string>100</string>
			<key>progressunit</key>
			<string>points</string>
			<key>statusTitle</key>
			<string>Good!!</string>
			<key>kpis</key>
			<array>
				<dict>
					<key>name</key>
					<string>% of Micro</string>
					<key>progress</key>
					<integer>91</integer>
					<key>progresstype</key>
					<integer>0</integer>
					<key>minprogress</key>
					<integer>0</integer>
					<key>maxprogress</key>
					<integer>100</integer>
					<key>progressunit</key>
					<string>%</string>
				</dict>
				<dict>
					<key>name</key>
					<string>He SAP</string>
					<key>progress</key>
					<real>1.5</real>
					<key>progresstype</key>
					<integer>1</integer>
					<key>minprogress</key>
					<integer>1</integer>
					<key>maxprogress</key>
					<integer>2</integer>
					<key>progressunit</key>
					<string>k</string>
				</dict>
				<dict>
					<key>name</key>
					<string>FMB SAP</string>
					<key>progress</key>
					<real>0.8</real>
					<key>progresstype</key>
					<integer>1</integer>
					<key>minprogress</key>
					<integer>1</integer>
					<key>maxprogress</key>
					<integer>2</integer>
					<key>progressunit</key>
					<string>k</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Ultra Distributation</string>
					<key>progress</key>
					<integer>62</integer>
					<key>progresstype</key>
					<integer>0</integer>
					<key>progressunit</key>
					<string>%</string>
					<key>minprogress</key>
					<integer>0</integer>
					<key>maxprogress</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>incentivename</key>
			<string> Incentive - 3</string>
			<key>rank</key>
			<string>455</string>
			<key>overAllIncentiveProgress</key>
			<string>34</string>
			<key>progresstype</key>
			<string>0</string>
			<key>minIncentiveRange</key>
			<string>0</string>
			<key>maxIncentiveRange</key>
			<string>100</string>
			<key>progressunit</key>
			<string>points</string>
			<key>statusTitle</key>
			<string>Good!!</string>
			<key>kpis</key>
			<array>
				<dict>
					<key>name</key>
					<string>% of Micro</string>
					<key>progress</key>
					<integer>91</integer>
					<key>progresstype</key>
					<integer>0</integer>
					<key>minprogress</key>
					<integer>0</integer>
					<key>maxprogress</key>
					<integer>100</integer>
					<key>progressunit</key>
					<string>%</string>
				</dict>
				<dict>
					<key>name</key>
					<string>He SAP</string>
					<key>progress</key>
					<real>1.5</real>
					<key>progresstype</key>
					<integer>1</integer>
					<key>minprogress</key>
					<integer>1</integer>
					<key>maxprogress</key>
					<integer>2</integer>
					<key>progressunit</key>
					<string>k</string>
				</dict>
				<dict>
					<key>name</key>
					<string>FMB SAP</string>
					<key>progress</key>
					<real>0.8</real>
					<key>progresstype</key>
					<integer>1</integer>
					<key>minprogress</key>
					<integer>1</integer>
					<key>maxprogress</key>
					<integer>2</integer>
					<key>progressunit</key>
					<string>k</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Ultra Distributation</string>
					<key>progress</key>
					<integer>62</integer>
					<key>progresstype</key>
					<integer>0</integer>
					<key>progressunit</key>
					<string>%</string>
					<key>minprogress</key>
					<integer>0</integer>
					<key>maxprogress</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
